.Combin{
    display: flex;
    align-items: flex-start;
    margin: auto;
    height: 832px;
}

.main{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.search{
    padding-bottom: 5px;
    margin: 0;
}

.p-button {
    display: flex;
    align-items: center;           
    justify-content: space-between; 
    padding-top: 35px;
    margin-bottom: 30px;
}


.Combin .p-button {
    justify-content: space-between;
}

.ElementTable-div-c{
    margin: 0;
}

.ElementTable-div-c p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;                    
    padding: 0;                    
    line-height: 1;                
}

.combin-b {
    display: flex;        
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #93A0B7;
    color: #fff;
    border: none;
    cursor: pointer;

    margin-right: 10px;
}

.combin-b:hover{
    background-color: #575B69;
}
