.CombinElement{
    display: flex;
    align-items: flex-start;
}

.CElement-main{
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.List{
    margin-bottom: 0;
    margin-top: 65px;
}