.main{
    padding: 10px 20px;
    margin-bottom: 0;
}

.p-button {
    display: flex;
    align-items: center;           
    justify-content: space-between; 
    padding: 50px 10px 10px 10px;    
    width: 100%;
}

.combin-page .p-button {
    justify-content: space-between;
}

.ElementTable-div p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;                    
    padding: 0;                    
    line-height: 1;                
}