.Main{
    display: flex;
    align-items: flex-start;
    margin: auto;
    height: 832px;
}

.main{
    padding: 10px;
    margin: 0;
}

.search{
    padding-bottom: 5px;
    margin-top: 0;
}

.p-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 41px;
    margin-bottom: 38px;
}

.ElementTable-div{
    margin: 0;
}

.ElementTable-div p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;                    
    padding: 0;                    
    line-height: 1;         
}