.ElementDetail{
    background-color: #fafafa;
    width: 850px;
    height: 620px;
    padding: 30px;
    border-radius: 14px;
    
    display: flex;
    flex-direction: column;
}

.detail-top-section {
    height: 280px; 
    overflow-y: auto;
    flex-shrink: 0;
}

.Detail-Element{
    display: flex;
    align-items: center;
}

.Detail-Element-P{
    display: grid;
    gap: 30px;
}

.DElementName{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
}

.Element-mo{
    background-color: hsla(0, 0%, 96%, 0.633);
    border-radius: 14px;
    margin-right: 30px;
}

.DetailElementNumder{
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 16px;
    background-color: #535661;
    width: fit-content;
}

.DetailElementNumder span{
    width: 100px; 
    height: 40px;
    background-color: #EAEFEF;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    white-space: nowrap;
}

.DetailElementNumder .DetailValue{
    padding: 0 16px; 
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.DetailElementNumder .DetailValue p{
    color: #FCFCFC;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

.ElementList-Multiple{
    display: grid;
    gap: 10px;
    padding-right: 10px;
}

hr{
    margin: 20px 0;
    flex-shrink: 0;
    border: none;
    border-top: 1px solid #ddd;
}

.Detail-Spectrum{
    height: 260px;
    flex-shrink: 0;
    overflow-y: auto;
}

.Detail-Spectrum p{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 10px 0;
}

.DetailSpectrums{
    display: grid;
    gap: 30px;
    margin: 0 100px;
}

.DetailLoadAError{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 850px;
    height: 620px;
    padding: 30px;
    background-color: #fafafa;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
}