.ElementList{
    width: 200px;
    height: 710px;

    padding: 20px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 14px;

    background-color: #FAFAFA;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}

.check-H p{
    font-size: 22px;
    font-weight: 700;
    padding: 5px 0 20px 0;
    margin: 0;
}

.ElementList input{
    border: 1px solid #C9C9C9;
    margin-right: 4px;
}

.checkbox-div{
    flex-shrink: 0;
    padding: 0;
    margin-bottom: 8px;
}

#check-all{
    background-color: transparent;
    border: 1px solid #C9C9C9;
    margin-right: 4px;
    padding: 0;
}

.CardContainer{
    flex: 1 1 auto;        /* 남은 영역 모두 차지 */
    overflow-y: auto;      /* 카드 영역만 스크롤 */
    display: flex;
    flex-wrap: wrap;       /* 카드 여러 줄 배치 */
    gap: 10px;             /* 카드 간 간격 */
}

.Card{
    width: calc(50% - 5px);
    aspect-ratio: 1 / 1;
}
