.ElementDetail{
    background-color: #fafafa;

    width: auto;

    padding: 30px;
    border-radius: 14px;
}

.Detail-Element{
    background-color: blue;
    display: flex;
    align-items: center;
}

.DElementName{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.Element-mo{
    background-color: blueviolet;
}