.EnergyLevel{
    background-color: #ffffff;
    width: 420px;
    height: auto;
    padding: 20px;

    border-radius: 12px;
}

.Energy-t{
    font-size: 20px;
    font-weight: 600;
}

.Level-tlr{
    font-size: 14px;
    border: 1px #000000 solid;
    border-radius: 4px;

    padding: 4px;
    margin: 20px 0;
}

.Level-p{
    font-size: 14px;
    color: #373737;
}