.elementI{
    background-color: #F3F7F7;
    width: 640px;
    height: 540px;
    border-radius: 20px;
    padding: 40px 34px;
}

.elementP{
    margin: 0;
    padding: 0;
}

.elementM{
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.elementM-p{
    color: #8B8B8B;
    font-size: 14px;
    margin: 8px 0 14px 0;
}

.element-{
    margin: 0 auto;
    padding: 10, 40px;
    background-color: #fafafa;
    border-radius: 20px;
    width: 640px;
    height: 480px;
    border-color: #8B8B8B;

    display: flex;
    align-items: center;
    justify-content: center;
}