.InElementP{
    padding: 0;
    margin: 0;
    width: 250px;
}

.element-t{
    font-size: 26px;
    margin: 0;
    padding-bottom: 10px;
}

.elemntPAll{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.elementNumder{
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 16px;
    background-color: #575B69;

    width: fit-content;
}

.elementNumder span{
    width: 110px; 
    height: 45px;
    background-color: #EAEFEF;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    white-space: nowrap;
}

.elementNumder .value{
    padding: 0 16px; 
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
}

.elementNumder .value p{
    color: #FCFCFC;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

.num-select{
    font-size: 12px;
    border: none;
    border-radius: 8px;
    background-color: #EAEFEF;
    outline: none;
    margin-right: 8px;

    width: 55px;
    height: 20px;
}