.Left{
    margin: 10px 10px;
    border-radius: 20px;
    padding: 2px 30px;
    background-color: #fafafa;
    width: 190px;
    height: 810px;
}

.log-pri{
    display: flex;
    align-items: center;

    margin: 0;
    padding-top: 0;
    padding-bottom: 30px;
}

.Left img{
    width: 45px;
    height: 45px;

    margin-right: 16px;
}

.title{
    color: #575B69;
    font-size: 24px;
    font-weight: 500;
}

.elT-div{
    background-color: #f8f8f8;
    margin-bottom: 34px;
    border-radius: 10px;
    display: flex;
    align-items: center;  

    width: 200px;
    height: 40px;
}

.elT-div:hover{
    background-color: #fff;
}

.elT-icon{
    margin-right: 8px;
    margin-left: 10px;
}

.elT-div button{
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.el-div{
    background-color: #f8f8f8;
    border-radius: 10px;
    display: flex;
    align-items: center;

    width: 200px;
    height: 40px;
}

.el-div:hover{
    background-color: #fff;
}

.el-icon{
    margin-right: 8px;
    margin-left: 10px;
}

.el-div button{
    background-color: transparent;
    border: none;
    font-size: 16px;
}