.element-container {
  background-color: #fafafa;
  border-radius: 20px;
  text-align: center;
  font-family: "Pretendard", sans-serif;
  border-collapse: separate; 
  border-spacing: 10px;
  padding: 60px 120px;

  height: 620px;
  width: 1140px;
}

.element-table {
  border-collapse: collapse;
}
.element-text::selection {
  background-color: rgba(87, 91, 105, 0.7);
}

/* 원소 공통 스타일 */
.element-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    transition: all 0.2s ease;
    border-radius: 10px;
}

/* 원소 있는 칸 */
.element-table td.filled {
    background-color: #575B69;
    color: #ffff;
}

.element-table td.filled:hover{
    background-color: #2A2C31;
    color: #fafafa;
}

.element-text {
    font-size: 14px;
}

.element-text::selection {
  background-color: rgba(87, 91, 105, 0.7);
  color: #fff;
}