.element-container {
  background-color: #fafafa;
  border-radius: 20px;
  text-align: center;
  border-collapse: separate; 
  border-spacing: 10px;
  padding: 75px 90px;

  height: 660px;
  width: 1160px;
}

.element-table { 
  border-collapse: collapse;
}
.element-table td.filled::selection {
  background-color: #2A2C31;
}

.element-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    transition: all 0.2s ease;
    border-radius: 10px;
}

.ot{
  background-color: #575B69 !important;
}

.element-table td.filled {
  background-color: #575B69;
  color: #ffff;
}

.element-table td.filled:hover{
  background-color: #7E8086;
  color: #fafafa;
}

.element-table td.selected {
  background-color: #7E8086; /* 원하는 색상 */
  color: white; /* 필요 시 텍스트 색상 */
}

.element-text {
  font-size: 14px;
}

.highlight {
  background-color: rgba(255, 230, 0, 0.9); /* 노란 하이라이트 */
  font-weight: 700;
}