.element-container {
  background-color: #fafafa;
  border-radius: 20px;
  text-align: center;
  border-collapse: separate; 
  border-spacing: 10px;
  padding: 75px 90px;

  height: 660px;
  width: 1160px;
}

.element-table { 
  border-collapse: collapse;
}
.element-table td.filled::selection {
  background-color: #2A2C31;
}

.element-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    transition: all 0.2s ease;
    border-radius: 10px;
}

.ot{
  background-color: #575B69 !important;
}

.element-table td.filled {
  background-color: #575B69;
  color: #ffff;
}

.element-table td.filled:hover{
  background-color: #858586;
  color: #fafafa;
}

.element-table td.selected {
  background-color: #9ca1b0; 
  color: #fafafa;
}

.element-text {
  font-size: 14px;
}

.element-table td.highlight {
  background-color: #E9F3F3;

  color: #858586;
}
