.App{
    background-color: #EAEFEF;
    font-family: "Pretendard";
    display: flex;
    align-items: flex-start;
}

.left{
    margin: 10px 8px;
    border-radius: 20px;
    padding: 2px 28px;
    background-color: #fafafa;
    width: 200px;
    height: 760px;
}



.log-pri{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.left img{
    width: 44px;
    height: 44px;

    margin-right: 8px;
}

.title{
    color: #575B69;
    font-weight: 500;
    font-size: 22px;
}

.ElementTable-div p{
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 25px;
    font-weight: bold;
}

.main{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0; 
    margin-top: 0;
    padding: 10px 20px; 
}