body {
  margin: 0;
  background-color: #EAEFEF;
  font-family: "Pretendard Variable"; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
